html,
body,
#root {
  height: 100vh;
  overflow: hidden;
  min-width: 100vw;
}

#root > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  background-color: #d499b9;
  color: #595758;
  display: flex;
  justify-content: space-between;
}

#nav-ppal {
  display: flex;
  font-weight: 200;
  font-size: 2rem;
  gap: 15px;
  justify-content: center;
}

#root > header h1 {
  margin: 0;
  font-size: 150%;
}

#root .page {
  padding: 50px 20px 20px;
  text-align: center;
}

#home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: calc(100vh - 70px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page h1 {
  color: #a6cac4;
}

#chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

#chat #images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  gap: 10px;
}

#chat #msg {
  border-top: 1px solid #888;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  text-align: left;
}
#chat #msg .message {
  color: black;
}

#chat img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

#rick .page ul {
  overflow-y: scroll;
}

#chat-img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}

#list {
  list-style: none;
  max-height: 60vh; /* Ajusta esta altura según tus necesidades */
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

#list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list li img {
  max-width: 100%;
  height: auto;
}

#list li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list li a p {
  margin-top: 8px; /* Añade espacio entre la imagen y el nombre */
  color: yellow; /* Color del nombre */
  font-weight: bold;
}

#chat .name {
  color: #88f;
}
#chat .name.color-1 {
  color: #ff9b54;
}
#chat .name.color-2 {
  color: #98c9a3;
}
#chat .name.color-3 {
  color: #d499b9;
}
#chat .name.color-4 {
  color: #a6cac4;
}
#chat .name.color-5 {
  color: #99d98c;
}
#chat .name.color-6 {
  color: #efd3d7;
}

/* #chat .message {
  margin-left: 5px;
} */
