html,
body,
#root {
  height: 100vh;
  overflow: hidden;
  min-width: 100vw;
}

#root > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  background-color: #d499b9;
  color: #595758;
  display: flex;
  justify-content: space-between;
}

#root > header h1 {
  margin: 0;
  font-size: 150%;
}

#root .page {
  padding: 50px 20px 20px;
  text-align: center;
}

#home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: calc(100vh - 70px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page h1 {
  color: #a6cac4;
}

#chat {
  display: grid;
  grid-template-columns: 60% 40%;
  max-height: 100vh;
  min-height: 0;
}

/* #chat #images,
#chat #messages {
  flex: 1 1 50%;
  overflow-y: scroll;
} */

#chat #images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

#chat #messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

#chat img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

#chat .name {
  color: #f0f600;
}
#chat .name.color-1 {
  color: #a6cac4;
}
#chat .name.color-2 {
  color: #d499b9;
}
#chat .name.color-3 {
  color: rgb(156, 21, 145);
}
#chat .name.color-4 {
  color: rgb(214, 211, 48);
}
#chat .name.color-5 {
  color: rgb(68, 200, 209);
}
#chat .name.color-6 {
  color: rgb(129, 129, 155);
}

#chat .message {
  margin-left: 5px;
}
