.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(185, 55, 218, 0.3);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #f9e1f4; /* Fondo blanco para el contenido */
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.75rem; /* Tamaño del aspa */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  background-color: rgb(146, 192, 76);
}
